# Database
POSTGRES_USER=achados_user
POSTGRES_PASSWORD=achados_pass
POSTGRES_DB=achados_perdidos
DATABASE_URL=postgresql://achados_user:achados_pass@localhost:5433/achados_perdidos

# JWT
JWT_SECRET=sua-chave-secreta-aqui

# Server
PORT=3333
